body { background-color: grey; }

a { color: blue; font-size: 30px; text-decoration: none; }

a:hover { background-color: #eeee9e; }

#box { font-family: verdana, helvetica, arial, sans-serif; color: #333335; background-color: #ffffd7; border: 8px solid #aaffff; }
